header{
  background-color: rgba(3, 163, 169, 0.5);
  overflow: hidden;
  min-width: 240px;
  }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  display: inline-block;

  overflow: hidden;
}

.tutorial {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  position:relative;
  float: right;
}

.tutorial ul {
  font-size: 0;
  list-style-type: none;
}
.tutorial ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  display: inline-block;
  padding: 15px;
}
.tutorial ul li ul {
  display: none;
}
.tutorial ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.tutorial ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}
.tutorial ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}
.tutorial ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #F03861;
  padding: 2px 5px;
  text-align: center;
  font-size: .8rem;
  border-radius: 3px;
}
.tutorial ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.tutorial ul li:hover ul li:hover span {
  background-color: #ee204e;
}




.logo-dh
{
  float: left;
margin-top: 10px;
margin-bottom: 10px;
display: table-cell;
vertical-align: middle
}

.navbar-inverse
{
	background-image: linear-gradient(to bottom,#81d1d4 0,#9adadc 100%);
  float: left;
  margin-top: 50px;
  border: 0;

}



.container-fluid
{
  display: inline-block;

}
.navbar-nav
{
float: left;
margin: auto;



}


.navbar-header
{
  margin:auto;
}




.navbar-inverse .navbar-nav>li>a
{
	color: #007481;

}



.footer-hd
{
width: 100%;
height: auto;
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
background-color: #efefef;
text-align: center;

background-color: rgba(3, 163, 169, 0.5);

}









@media screen and (max-width: 780px) {
  .navbar-inverse
  {
  	background-image: linear-gradient(to bottom,#81d1d4 0,#9adadc 100%);
    float: right;
    margin-top: 0px;
    border: 0;

  }
}



@media screen and (max-width: 350px) {
  .navbar-inverse
  {
  	background-image: linear-gradient(to bottom,#81d1d4 0,#9adadc 100%);
    float: left;
    margin-top: 0px;
    border: 0;

  }
  header{
    background-color: rgba(3, 163, 169, 0.5);
    overflow: hidden;
    display: inline-block;
    text-align: center;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
    }


}
